a(class='sidebar-brand d-flex align-items-center justify-content-center' href=`${base_url}/apotek`)
    div(class='sidebar-brand-icon')
        i(class='fas fa-home')
    div(class='sidebar-brand-text mx-3') Panel Apotek
hr(class='sidebar-divider my-0')