nav(class='navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow')
    ul(class='navbar-nav ml-auto')
        li(nav-item dropdown no-arrow)
            a(href=`${logout}` class='nav-link dropdown-toggle' role='button' aria-haspopup='true' aria-expanded='false')
                span(class='mr-2 d-none d-lg-inline text-gray-600 small') Logout
                i(class='fas fa-power-off img-profile')